@page {
    size: A4 portrait;
    margin-top: 10mm;
    margin-bottom: 5mm;
    margin-left: 20mm;
    margin-right: 10mm;
    font-family: Arial, Helvetica, sans-serif;
    prince-trim: 0mm;
    prince-bleed: 0mm;
}

h1 {
    background: transparent url('./img/logo.svg') no-repeat;
    background-position: left top;
    background-size: auto 20mm;
    padding-left: 25mm; /* for image */
    padding-bottom: 10mm;
    padding-top: 5mm;
    margin: 0;
    font-family: 'Linux Libertine';
    font-weight: normal;
    font-style: normal; 
    font-size: 60pt;
}

h1::after {
    content: "";
    display: block;
    background: url('./img/rule.svg');
    background-repeat: no-repeat;
    margin-top: 3mm;
    position: absolute;
    left: 0;
    height: 3mm;
    width: 100%;
}

h2 {
    font-family: "Linux Biolinum";
    font-size: 12pt;
    letter-spacing: 1mm;
    padding-left: 6mm;
    margin: 0;
}

.recipe {
    font-family: "Linux Libertine";
    font-size: 9pt;
    margin-left: 0mm;
    margin-right: 2mm;
    margin-bottom: 4mm;
}

h3 {
    font-family: "Linux Libertine";
    font-size: 12pt;
    color: black;
    margin-left: 0mm;
    margin-right: 0mm;
    margin-bottom: 1mm;
    margin-top: 1mm;
}

/* 2 col layout */
article {
    column-count: 2;
    column-gap: 5mm;
}
section {
    page-break-inside: avoid;
    page-break-after: auto;
}

/* images */

h2 {
    background-size: auto 10mm;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 15mm; /* for image */
    padding-bottom: 5mm;
    padding-top: 5mm;
}

#Starters {
    background-image: url('./img/starter.svg');
}
h2[id='Main Courses'] {
    background-image: url('./img/main-dish.svg');
}
#Dessert {
    background-image: url('./img/dessert.svg');
}
