html {
   color: #333;
   font-family: Helvetica,sans-serif;
   font-size: 62.5%;
}
body {
    font-size: 18px;
}
h1 {
    margin-top: 24px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 1.1111111111;
    letter-spacing: .72px;
    margin-bottom: 19px;
    text-align: center;
}
h2 {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 1.2857142857;
    letter-spacing: .56px;
    margin-bottom: 27px;
    text-align: left;
}
h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

.info-bar {
    display: flex;
    justify-content: center;
}
.preparation-time::before {
    position: relative;
    display: inline-block;
    content: "";
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    background: url(./img/icon-clock.svg) no-repeat;
    background-size: contain;
    background-position: center;
}

.preparation-time {
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: .35px;
    padding-left: 32px;
    font-family: Courier New,serif;
}

section.description {
    margin-bottom: 25px;
    font-size: 2.2rem;
    line-height: 1.3636363636;
    letter-spacing: .44px;
    font-family: Courier New,serif;
    text-align: center;
}

body img {
    display: block;
    margin: 0 auto 2rem auto;
    max-height: 300px;
}

#ingredients {
    z-index: 1;
    margin-bottom: 70px;
    padding: 15px;
    background-color: #f8f6ed;
    border-radius: 10px;
    display: inline-block;
}

ul {
    padding: 0;
    list-style: none;
}

#ingredients .amount, #ingredients .item {
    font-size: 1.8rem;
    line-height: 1.4444444444;
    display: inline-block;
    width: 48%;
    vertical-align: text-top;
}

#ingredients .amount {
    font-weight: bold;
    padding-right: 1%;
    font-family: Arial,sans-serif;
}
#ingredients .item {
    padding-left: 1%;
    font-family: Arial,sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.column.left {
    width: 40%;
}
.column.right {
    width: 48%;
}

hr {
    /*position: absolute;*/
    display: block;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 4px;
    margin-top: 30px;
    border: 0;
    background-image: radial-gradient(circle closest-side,#333 calc(100% - 1px),transparent 100%);
    background-repeat: repeat-x;
    background-position: 0;
    background-size: 12px 4px;
}
